.controls {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  input[type='file'] {
    width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
  }

  label, button {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 80px;
    height: 40px;
    margin: 2px;
    padding: 10px;
    border: 2px solid #777;
    background-color: #CCC;
    border-radius: 5px;
    font: 11px Tahoma;
    text-align: center;
    white-space: nowrap;

    &.active {
      background-color: #999;
      color: #EEE;
    }
  }
}
