html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

section.layout {
  position: relative;
  height: 100vh;

  section.left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 43vw;
    display: flex;
    flex-direction: column;
  }

  section.right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: calc(100% - 43vw);
    padding: 5vh 0;
  }
}

@media screen and (max-width: 800px) {
  section.layout {
    height: auto;

    section.left, section.right {
      position: relative;
      left: auto;
      right: auto;
    }
  }
}
